.vscode/**
.vscode-test/**
src/**
.gitignore
.git
.eslintrc.json
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
!node_modules/marked/**
!node_modules/marked-highlight/**
!node_modules/highlight.js/**
!node_modules/mermaid/**
!node_modules/dompurify/**
